[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Comment=Spotify Web Player (no official Linux aarch64 client)
Icon=spotify-client
TryExec=spotify
Exec=spotify --uri=%u
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=chrome-open.spotify.com
